//$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
/*
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
*/

@import "menu2";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

#wrapper {
  padding: 15px;
  color:#666;
}

body {
  font-family:"Roboto";
}
.header {
  padding: 15px;
  background: #00bcd4;
  a {
    color:#fff;
    text-decoration: none;
    i {
      margin-right: 10px;
    }
  }
}
$menu-section-width: 200px;
$menu-base-index: 900;

.menu {
  position: absolute;
  
  .menu-section {
    * { box-sizing: border-box; }

    //width: 0;

    padding-left: 0;
    margin: 0 0 0 -4.5px;
    vertical-align: top;
    background: #fff;
    box-shadow: 0 0 5px #666;
    overflow: hidden;
    z-index: 99;
    position: relative;
    display: none;

    span {
      background: #ebebeb;
      display: block;
      padding: 6px 10px 6px 24px;
    }

    list-style: none;
    //position: absolute;

    // section titles
    > li:first-child a {
      margin-left: 0;
      background:#16abbe;
      color:#fff;
      //padding: 12px 10px 12px 24px;
      position: relative;
      &:hover {
        background: darken(#00bcd4, 10%);
      }
      &:before {
        font-family: FontAwesome;

        content: "\f104";
        width:15px;
        margin-right: 10px;
        z-index: 999;
      }
      &:after {
        display: none;
      }
    }

    // all > li
    li {
      font-weight: 200;
      font-size: 18px;
      overflow: hidden;
      transition: all .5s ease-in-out;

      &.selected {
        //border:solid 2px #00bcd4;
        background: lighten(#00bcd4, 10%);
        transition: all .5s ease-in-out;
      }

      &.menu-arrow a {
        cursor: pointer;
        &:after {
          content: "\f105";
          font-family: FontAwesome;
          position: absolute;
          right: 10px;
          top: 14px;
        }
      }

      &.menu-divider-up-down {
        border:solid 1px #ccc;
        border-width: 1px 0;
      }

      a {
        //width: $menu-section-width;
        display: block;
        color: #828282;
        text-decoration: none;
        padding: 12px 28px 12px 24px;
        position: relative;

        &:hover {
          background: #ebebeb;
          // Open menu
        }
      }
    }
    // nested ul
    ul {
      list-style: none;
      padding-left: 0;
      a {
        padding-left: 38px;
      }
    }
    // default all collapsed

    &:first-child {
      margin-left: 0;
      //max-width: $menu-section-width;
      li {
        //max-width: $menu-section-width;
      }
      li a {
        //width: $menu-section-width;
        //padding: 12px 10px 12px 24px;
      }
    }
  }

  // set zindex
  .menu-section {
    z-index: 99;
  }
  .menu-section + .menu-section {
    z-index: 98;
  }
  .menu-section + .menu-section + .menu-section {
    z-index: 97;
  }
  .menu-section + .menu-section + .menu-section + .menu-section {
    z-index: 96;
  }
  .menu-section + .menu-section + .menu-section + .menu-section + .menu-section {
    z-index: 95;
  }
}